.carousel-inner > .carousel-item > img {
  min-height: 80vh;
  max-height: 80vh;
}

.footer ul {
  position: relative;
  list-style: none;
}

.footer ul li::before {
  content: '\27A4';
  position: absolute;
  left: 0;
}

.footer ul li a{
    text-decoration: none;
    color: black;
}